@import '../utilities/scss_vars';

.app-header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, .98);
  height: 150px;
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-container {
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0 0;
  position: relative;
  top: 0;
  width: 90%;
  max-width: 1400px;

  .logo {
    display: block;
    width: 19%;
    max-width: 200px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    max-width: 1400px;

    a {
      color: $med-gray;
      font: $sm-caps;
      text-decoration: none;
      text-transform: uppercase;
      margin-left: 75px;
      border-top: 2px solid transparent;
    }
  }
}

.account-for-fixed-header {
  height: 245px;
  width: 100%;
}

@media(max-width: 863px) {
  .app-header {
    height: 70px;
    right: 10px;
    background: transparent;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .logo {
      display: none;
    }

    .vSOC-container {
      display: none;
    }

  }

  .header-container {
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 15px 0 0;
      height: 35px;
      width: 100%;
      background: #fff;
      border: 1px solid $lt_gray;
      border-radius: 3px;
      box-shadow: 0 4px 20px -6px $black;

      a {
        margin: 0;
        height: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }

      a:first-child {
        width: 60%;
        border-radius: 3px 0 0 3px;
      }

      a:last-child {
        width: 40%;
        border-radius: 0 3px 3px 0;
      }
    }
  }

  .account-for-fixed-header {
    height: 70px;
  }

}

@media(max-width: 770px) {
  .app-header {
    width: 60%;

  }
}

@media(max-width: 630px) {
  .app-header {
    width: 70%;

  }
}

@media(max-width: 530px) {
  .app-header {
    width: 82%;

    nav {

      a {
        font-size: 0.75em;
      }
    }
  }
}

